:root {
  --primary-bg: #f6f7f7;
  --secondary-bg: #ffffff;
  --primary-accent: #f3713f;
  --secondary-accent: 230, 230, 230;
  --primary-text: #161712;
  --secondary-text: #707070;
  --border-radius: 10px;
  --font-size: 16px;
  --vh: 1vh;
}
