<div class="grats-slide">
  <app-bfa-panel>
    <!--<p class="bfa-hb-text">
      <span>Природа взорвалась ликованием. </span>
      <span>Киты одновременно выпустили фонтаны воды, </span>
      <span>мопсики уселись поудобнее и </span>
      <span>прогавкали трижды, отдавая честь.</span>
    </p>-->
    <p app-bfa-hb-text>
      <span>Природа взорвалась ликованием.&nbsp;</span>
      <span>Киты одновременно выпустили фонтаны воды,&nbsp;</span>
      <span>мопсики уселись поудобнее и&nbsp;</span>
      <span>прогавкали трижды, отдавая честь.</span>
    </p>
  </app-bfa-panel>
</div>
