<div class="grats-slide">
  <app-bfa-panel>
    <!--<p class="bfa-hb-text">
      <span>Верующие всех мастей также </span>
      <span>отметили сей факт, как появление </span>
      <span>нового мессии, которому суждено </span>
      <span>поворачивать реки вспять, </span>
      <span>сравнивать горы с землей, </span>
      <span>править умами и душами людей.</span>
    </p>-->
    <p app-bfa-hb-text>
      <span>Верующие всех мастей также&nbsp;</span>
      <span>отметили сей факт, как появление&nbsp;</span>
      <span>нового мессии, которому суждено&nbsp;</span>
      <span>поворачивать реки вспять,&nbsp;</span>
      <span>сравнивать горы с землей,&nbsp;</span>
      <span>править умами и душами людей.</span>
    </p>
  </app-bfa-panel>
</div>
