<div class="grats-slide">
  <app-bfa-panel>
    <!--<p class="bfa-hb-text">
      <span>Так поздравим же нашу именинницу </span>
      <span>с Днем Рождения! </span>
      <span>Воспоем ей оды, братья и сестры, </span>
      <span>кошечки и собачки!</span>
    </p>-->

    <p app-bfa-hb-text>
      <span>Так поздравим же нашу именинницу&nbsp;</span>
      <span>с Днем Рождения!&nbsp;</span>
      <span>Воспоем ей оды, братья и сестры,&nbsp;</span>
      <span>кошечки и собачки!</span>
    </p>
  </app-bfa-panel>
</div>
