<div class="grats-slide">
  <app-bfa-panel>
    <!--<p class="bfa-hb-text">
      <span>Аня, желаю тебе быть всегда такой же </span>
      <span>чудесной, доброй, умной, красивой! </span>
      <span>Счастья, здоровья, чтобы все, </span>
      <span>что пожелаешь сбывалось! </span>
      <span>Ну или становиться только чудесатее!) </span>
      <span>PS. Улыбайся чаще, ведь от твоей улыбки </span>
      <span>на душе становится теплее)</span>
    </p>-->

    <p app-bfa-hb-text>
      <span>Аня, желаю тебе быть всегда такой же&nbsp;</span>
      <span>чудесной, доброй, умной, красивой!&nbsp;</span>
      <span>Счастья, здоровья, чтобы все,&nbsp;</span>
      <span>что пожелаешь сбывалось!&nbsp;</span>
      <span>Ну и становиться только чудесатее!)&nbsp;</span>
      <span>P.S. Улыбайся чаще, ведь от твоей улыбки&nbsp;</span>
      <span>на душе становится теплее)</span>
    </p>
  </app-bfa-panel>
</div>
