<div class="grats-slide">
  <app-bfa-panel>
    <!--<p class="bfa-hb-text">
      <span>И вот земля совершила очередной </span>
      <span>свой виток по орбите, а значит </span>
      <span>наступило вновь 27 апреля. </span>
      <span>Приближается момент свершения </span>
      <span>пророчества, когда новый мессия </span>
      <span>войдет в полную силу, </span>
      <span>и все падут ниц перед ней.</span>
    </p>-->

    <p app-bfa-hb-text>
      <span>И вот земля совершила очередной&nbsp;</span>
      <span>свой виток по орбите, а значит&nbsp;</span>
      <span>наступило вновь 27 апреля.&nbsp;</span>
      <span>Приближается момент свершения&nbsp;</span>
      <span>пророчества, когда новый мессия&nbsp;</span>
      <span>войдет в полную силу,&nbsp;</span>
      <span>и все падут ниц перед ней.</span>
    </p>
  </app-bfa-panel>
</div>
