<div class="grats-slide">
  <app-bfa-panel>
    <!--<p class="bfa-hb-text">
      <span>Мир встречал 27 день месяца апреля. </span>
      <span>Это был весенний день, пели птички, </span>
      <span>с крыш падала последняя капель, </span>
      <span>солнечные зайчики играли на стенах. </span>
      <span>Все живое готовилось к чему то грандиозному.</span>
    </p>-->

    <p app-bfa-hb-text>
      <span>Мир встречал 27 день месяца апреля.&nbsp;</span>
      <span>Это был весенний день, пели птички,&nbsp;</span>
      <span>с крыш падала последняя капель,&nbsp;</span>
      <span>солнечные зайчики играли на стенах.&nbsp;</span>
      <span>Все живое готовилось к чему то грандиозному.</span>
    </p>
  </app-bfa-panel>
</div>
