<div class="grats-slide">
  <app-bfa-panel>
    <!--<p class="bfa-hb-text">
      <span>В этот замечательный день на свет </span>
      <span>появилась чудесная девочка Анна Алексеевна. </span>
      <span>Не было даже ни одного крика, </span>
      <span>сразу во взгляде был виден ум, </span>
      <span>а на лице серьезность.</span>
    </p>-->

    <p app-bfa-hb-text>
      <span>В этот замечательный день на свет&nbsp;</span>
      <span>появилась чудесная девочка Анна Алексеевна.&nbsp;</span>
      <span>Не раздалось ни одного крика,&nbsp;</span>
      <span>сразу во взгляде был виден ум,&nbsp;</span>
      <span>а на лице серьезность.</span>
    </p>
  </app-bfa-panel>
</div>
