<div class="not-found">
  <div class="not-found__inner">
    <div>
      <app-bfa-action-title>404. Вы где-то не там свернули!</app-bfa-action-title>
      <app-bfa-action-title>Мопсик Борис наставит на путь истинный</app-bfa-action-title>
      <!--<p class="action-title">404. Вы где-то не там свернули!</p>
      <p class="action-title">Мопсик Борис наставит на путь истинный</p>-->
    </div>
    <button bfa-button (click)="goToMainPage()">
      Встать на путь исправления
    </button>
    <div
      class="not-found__img">
      <img src="/assets/images/pug01.png" alt="">
    </div>
  </div>
</div>
